.text {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
}
.button {
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 4px;
  position: relative;
}
.button:hover {
  opacity: 0.8;
}
.button:active {
  border: 8px solid #000000;
  color: white;
}
.loading .text {
  visibility: hidden;
  opacity: 0;
}
.loading::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 6px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: loading-spinner 1s ease infinite;
}
@keyframes loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
