.root {
  width: 100%;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 8px 5px 5px #cdcdcd;
  display: flex;
  flex-direction: column;
}
.imgContainer {
  display: flex;
  height: 200px;
}
.img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.infoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  overflow: auto;
}
.info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  overflow-wrap: anywhere;
  margin-bottom: 15px;
}
.linkContainer {
  max-width: 113px;
}
