.root {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  background-color: #ff6868;
  border-bottom: 1px solid white;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
  align-items: center;
}
.img {
  margin: 20px;
  cursor: pointer;
}
@media screen and (max-width: 1038px) {
  .img {
    cursor: auto;
  }
}
